.titleDiv{
    margin-bottom: -10px;
  }
  ion-card-content .details{
    color: #000;
    font-size: 120%;
  }
.cardDesign{
    margin-top: -10px;
    border-radius: 20px;
}
.titleDesign{
    position: absolute;
    top: 20px;
    left: 0px;
    color: #FFF;
}