#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header-md::after{
  background-image: none !important;
}

.cardDesign{
  width: 90%;
  border-radius: 16px
}

ion-card ion-img{
  width: 65vw;
  height: 100%;
}

.swiper-slide{
  text-align: left;
}

.rowClass{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll !important;
}

.titleDiv{
  margin-bottom: -10px;
}

ion-card-content .details{
  color: #000;
  font-size: 120%;
}
.btnGrp{
  margin-top: 10px;
}

h1{
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 16px;
}

.badge{
  color: #FFF;
  font-size: 40%;
  padding: 5px;
  margin: 0px 10px;
  border: solid thin #FFF;
  border-radius: 6px;
}

@media only screen and (min-width: 481px) {
  .cardDesign{
    width: 300px;
    border-radius: 16px
  }
  ion-card ion-img{
    width: 300px;
    height: 100%;
  }  
}